<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Eventos</title>
</head>
<body>
<h1>Ingresar Eventos</h1>
<form method="post">
  Nombre <input type="text" value=""  name="nombre" />
  Local <input type="text" value=""  name="lugar" />
   Dia <input type="date" value=""  name="dia" />
   Hora <input type="text" value=""  name="horario" />

 <button type="submit">Salvar</button>
</form>

</body>
</html>